.card {
    -fx-background-color: white;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, #00000015, 10, 0, 0, 2);
    -fx-padding: 18;
}

.card-dark {
    -fx-background-color: #6B4226;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, #00000040, 10, 0, 0, 2);
    -fx-padding: 18;
}

.topbar {
    -fx-background-color: white;
    -fx-padding: 14 24;
    -fx-effect: dropshadow(gaussian, #00000015, 8, 0, 0, 2);
}
.button:hover {
    -fx-background-color: #5d4037 !important;
    -fx-text-fill: white !important;
}

/* cambiar color al seleccionar */
.button:hover .font-icon {
    -fx-icon-color: white;
}
.chart-pie-label {
    -fx-fill: #6B4226;
}
.chart-legend-item {
    -fx-text-fill: #6B4226;
}
.default-color0.chart-pie {
    -fx-pie-color: #6B4226;
}
.default-color1.chart-pie {
    -fx-pie-color: #D4A843;
}
.default-color2.chart-pie {
    -fx-pie-color: #C8A97E;
}
.default-color3.chart-pie {
    -fx-pie-color: #3D1F0D;
}
.default-color4.chart-pie {
    -fx-pie-color: #7A5535;
}
.chart-pie-label {
    -fx-fill: #6B4226;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.chart-pie-label-line {
    -fx-stroke: #6B4226;
}